<h1>タスクを編集する</h1>

<%= form_for :task, url: tasks_path(@task),method: :patch do |f| %>
    <p>
         <%= f.label :名称 %><br>
         <%= f.text_field :title %>
   </p>

   <p>
        <%= f.label :詳しい説明 %><br>
        <%= f.text_area :content %>
   </p>
   
   <p>
     <%= f.submit %>
   </p>
<% end %>

<%= link_to '戻る',tasks_path %>