<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p class="text-left">Taskleaf</p>
      <p></p>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        こんにちは!<%= current_user.email %>さん
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to '新規登録', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

<style>
.text-left{
  font-size: 20px;
  color: white;
  background-color: black;
  padding-top: 18px;
  margin-bottom: 0px;
  height: 65px;
}
</style>