<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-menu">
        Taskleaf
        <% if user_signed_in? %>
          <div class="header-login">
            <%= link_to "一覧へ戻る", tasks_path %>　
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="header-login">
            <%= link_to '新規登録', new_user_registration_path %>　
            <%= link_to 'ログイン', new_user_session_path %>
          </div>
        <% end %>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>